<!DOCTYPE html>
<html>
  <head>
    <title>$$$ Earn Money $$$</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- <link rel ="shortcut icon" type="image/x-icon" href="images/favicon.ico"/> -->
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-social.css" rel="stylesheet" />
	<!-- Specific -->
	<link href="css/login.css" rel="stylesheet" />
	<script src="js/lib/jquery/jquery-3.1.0.min.js"></script>
    <script src="js/lib/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/specific/login.js"></script>
    <link href="css/font-awesome.min.css" rel="stylesheet" />
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" /> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css" />
    <!-- <script src="js/specific/main.js"></script> -->
  </head>

  <!-- 參考 http://bootsnipp.com/snippets/featured/google-style-login-extended-with-html5-localstorage -->
  <body>
	<div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="images/login/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" id="login-form" >
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" name="username" id="inputEmail" class="form-control" placeholder="{{email-hint}}" required="required" autofocus="autofocus" />
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{password-hint}}" required="required" />
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me" />{{remember-me}}
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" id="submitbtn" type="submit">{{login}}</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                {{forget-password}}
            </a>
            <a class="btn btn-block btn-social btn-google" href="/googleauth">
                <span class="fa fa-google"></span>{{google-login}}
            </a>
        </div>	<!-- /card-container -->
    </div>	<!-- /container -->

  </body>
</html>